.fw-button {
	margin: 0 2*$dp;

	&.style-flat {
		background: transparent; border: none; color: $fw_maincolor;
		color: $fw_maincolor; padding: 0 8*$dp; font-size: 14*$sp;
		min-width: 64*$dp; height: 36*$dp; line-height: 36*$dp;
		text-transform: uppercase; position: relative;

		&:hover::before {opacity: 0.2;}
		&:active::before {opacity: 0.4;}
		&:focus::before {opacity: 0.4;}
		
		&::before {
			position: absolute; top: 0; left: 0; width: 100%;
			height: 100%; background-color: #000000;
			opacity: 0; transition: opacity 0.5s;
			content:"";
		}
	}

	&.style-outline {
		background: transparent; border: none; color: $fw_maincolor;
		color: $fw_maincolor; padding: 0 8*$dp; font-size: 14*$sp;
		min-width: 64*$dp; height: 36*$dp; line-height: 36*$dp;
		margin: 8*$dp; border: thin #ccc solid; border-radius: 4*$dp;
		text-transform: uppercase; position: relative;

		&:hover::before {opacity: 0.2;}
		&:active::before {opacity: 0.4;}
		&:focus::before {opacity: 0.4;}
		
		&::before {
			position: absolute; top: 0; left: 0; width: 100%;
			height: 100%; background-color: #000000;
			opacity: 0; transition: opacity 0.5s;
			content:"";
		}
	}

	&.style-contained {
		background: $fw_maincolor; border: none; color: #fff;
		padding: 0 16*$dp; font-size: 14*$sp;
		min-width: 64*$dp; height: 36*$dp; line-height: 36*$dp;
		text-transform: uppercase; border-radius: 4*$dp;
		box-shadow: elevation(2);position: relative;

		&:hover::before {opacity: 0.2;}
		&:active::before {opacity: 0.4;}
		&:focus::before {opacity: 0.4;}
		
		&::before {
			position: absolute; top: 0; left: 0; width: 100%;
			height: 100%; background-color: #ffffff;
			opacity: 0; transition: opacity 0.5s;
			content:"";
		}
	}
}

.fw-iconbtn {
	margin: 4px;
	height: 28px; width: 28px;
	cursor: pointer;
	display: inline-block;
	background: transparent;
	transition: background 0.5s;

	:hover {background: rgba(0,0,0,.05); }
	:active {background: rgba(0,0,0,.1); }

	.material-icons {
		font-size: 16px;
		padding: 6px;
		border-radius: 50%;
	}
}
