.fw-fab {
    position: absolute; right: 0; bottom: 0;
    background-color: $fw_maincolor;
    margin: 16*$dp; box-sizing:border-box;display: flex;
    transition: all .5s;
    align-items: center;
    @include noselect;

    i {font-size: 24*$dp; color: #fff;}
    a {color: transparent; transition: all .5s, width .5s, padding .5s, border-radius .5s;
        text-transform: uppercase; font-size: 14*$sp;font-weight: bold;opacity: 0;}

    &:hover::before {opacity: 0.1;}
    &:active::before {opacity: 0.2;}
    &:focus::before {opacity: 0.2;}
    
    &::before {
        position: absolute; top: 0; left: 0; width: 100%;
        height: 100%; background-color: #fff;
        opacity: 0; transition: opacity 0.5s;border-radius: 50%;
        content:"";
    }
                
    &.fab-default {
        width: 56*$dp;height: 56*$dp;
        padding: 16*$dp;border-radius: 28*$dp;
        box-shadow: elevation(6);

        a {color: transparent;}

        &.hide {bottom: -100%;}
    }

    &.fab-small {
        width: 40*$dp;height: 40*$dp;
        padding: 8*$dp;border-radius: 20*$dp;
        box-shadow: elevation(6);

        a {color: transparent;}
        &::before {border-radius: 20*$dp;}
    }

    &.fab-expand {
        width: inherit;height: 56*$dp;
        padding: 16*$dp;border-radius: 28*$dp;
        box-shadow: elevation(6);

        a {color: #fff;padding-left: 12*$dp;padding-right: 8*$dp;opacity: 1;}
        &::before {border-radius: 32*$dp;}
    }

}
