// TODO: Refactor
.fw-listitem {
    border-bottom: thin #eee solid;
    padding: 4px;

    .item-title {
        font-size: .7em; padding: 4px 8px; 
        color: #555; @include noselect;
    }

    &.textedit .input {
        border: none; background: none; width: 100%;
        box-sizing: border-box; font-size: 1em; padding: 8px;

        &.ta {resize: none; height: 40px;font-family: $font_family;}
    }

    &.flex {
        display: flex;

        .flex-expand  {flex: 1;}
    }

    .material-icons {color: $fw_maincolor; font-size: 20px; }
}


