// TODO: Renamte to fw-view-sliding
.fw-pager-view {
	position: absolute;
	z-index: 1;
	top: 0;left: 0;width: 100%;height: 100%;
	background: #eeeeee;
	overflow: hidden;

	.fw-pager-wrapper {
		position: relative;
		top: 0;height: 100%;left: 0;

		.fw-page {
			background: #ffffff;
			width: 100%;height: 100%; top:0;left:0;
			position: absolute;overflow: auto;

			.container {
				max-width: $activity_maxwidth;margin: auto;
			}

			.filler {
				min-height: 56px;
			}
		}
	}
}

html.darktheme .fw-pager-view {
	background: #222;
	.fw-page {
		background: #000!important;
	}
}
