$fw_maincolor: #009999;
$dp: .0625rem;
$sp: $dp;
$font_family: "Roboto", Arial, sans;

html {font-size: 16px;} // For pretty dp/sp calculation

@function elevation($e) {
    @return 0 $e*$dp $e*2*$dp 0 rgba(0,0,0,0.2);
}

@import "mixings.scss";
@import "Base.scss";
@import "Widgets2.scss";
@import "Dialog.scss";
@import "ListView.scss";
@import "Screens.scss";
@import "Dark.scss";
@import "Fonts.scss";

// Compitability fixes
* {outline: none; -webkit-tap-highlight-color: transparent;}
